*{
    box-sizing: border-box;
}

body{
    /* background: #fefefe; */
    background: #fefefe url('feature-network-approach.jpg');
    background-position: center;
    color: white;
}

header, footer{
    background: rgba(39,64,77,0.88);
    /* padding: 2rem; */
}
header{
    text-align: center;
}
main{
    background: #628f64;
    /* padding: 2rem; */
}

a{
    color:orange;
}
a:hover{
    color: orangered;
}

#schedule-container ol>li{
    padding:1rem;
    background: #dbdbdb;
    color: #545454;
}

#schedule-container ol>li:nth-child(odd){
    background: #e9ecef;
}

#schedule-container ol>li ul{
    list-style: none;
}

#list-1 {
    list-style-position: inside;
    padding: 0;
}


footer{
    background: #3a5b6d;
}

@media (min-width: 768px){

    header, footer, main{
        padding: 2rem;
    }

    #schedule-container{
        margin: 2%;
    }
}